<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
-
  <!-- <% if(!user.confirm) { %> 

    <div class="container">
      <div class="alert alert-danger alert-dismissible fade show" style="margin-top: 100px; position: absolute; z-index: 50px;" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <strong>Your account is not confirmed</strong> Please confirm your account <a href="/profile/<%= user.username %>" target="_blank">here.</a> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    
    <% } %> -->

  <section style="margin-top: 100px">
    <div class="container">
      <div class="main-body">
        <div class="row text-center">
          <h1>Profile</h1>
        </div>
        
        <div class="row gutters">
          <div class="col-md-4">
            <div class="card" style="margin:0">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> -->

                  <a href="/profile/avatars" class="profile-pic">
                    <img
                      src="
                                            <% if (avatar) { %>
                                              <%= avatar.avatar %>
                                            <% } else { %>
                                            /assets/img/avatars/SVG/default.svg
                                            <% } %> 

                                            "
                      alt="<%= user.username %>"
                      width=""
                    />
                    <span><i class="fas fa-camera"></i></span>
                    <span>Change Image</span>
                  </a>
                  <div class="mt-3">
                    <h4><%= user.username %></h4>
                    <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                              <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                              <button class="btn btn-primary">Follow</button>
                              <button class="btn btn-outline-primary">Message</button> -->
                           
                              <% if(!user.confirm) { %> 

                                <a href="/auth/requestConfirm" class="btn btn-danger pull-left" target="_blank">Confirm Email</a>
                                
                                <% } %>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.username %>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"><%= user.email %></div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="row text-center">
                  <h2>Your Quizzes</h2>
                </div>

                <div class="row">
                  <div class="col table-">
                    <table class="table table-sm text-center">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Quiz Name</th>
                          <th scope="col">Quiz Id</th>
                          <th scope="col">Share</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                          <% if (data.length > 0) { %>
                            <% data.forEach((quiz, index) => { %>
                              <tr>
                              <th scope="row"><%= index %></th>
                              <td><%= quiz.quizName %></td>
                              <td><a href="https://multroic.herokuapp.com/quiz/play/<%= quiz._id %>" target="_blank" style="font-size:1rem" class="btn btn-primary">Play <i class="fas fa-gamepad"></i></a></td>
                              
                              <td><button type="button" id="share-btn" class="btn btn-primary" onclick="shareBtn(
                                '<%= quiz.quizName %>'
                                , 
                                '<%= quiz.quizCreatorName %>'
                                , 
                                '<%= quiz._id %>'
                                )">Share <i class="fas fa-share-alt"></i></button>
                                
                              </td>
                            </tr>
                            <% }) %>
                            <% } %>
                          
                      </tbody>
                    </table>
                  </div>
                </div>
                
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

const shareBtn = (name, creator, id) => {
  if (navigator.share) {
  navigator.share({
    title: name,
    text: 'Play ' + name + ' a new quiz by ' + creator,
    url: 'https://multroic.herokuapp.com/quiz/play/' + id,
  })
    .then(() => console.log('Successful share'))
    .catch((error) => console.log('Error sharing', error));
}
}

    // document.getElementById("clickLink").addEventListener("click", (e) => {
    //   e.preventDefault();
    //   var copyText = document.getElementById("quizLink");
    //   copyText.select();
    //   copyText.setSelectionRange(0, 99999);
    //   document.execCommand("copy");
    //   alert("Copied the text: " + copyText.value);
    // });

  </script>
  <!-- <div class="container">
            <div class="row text-center">
                <h1>Profile</h1>
            </div> -->

  <%- include('./partials/footer.ejs') %>
</body>
