<!-- head -->
<%- include('./partials/head.ejs') %>

<body class="quiz-main">
  <!-- main-section -->
  <%- include('./partials/nav.ejs') %>

  <section style="margin-top: 100px">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div>
            <div
              class="p-4"
              style="border-radius: 10px 10px 0px 0px; background-color: #333; color: #fff"
            >
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h2 class="text-center"> <%= leaderboard[0].quizName %>
                        <!-- <% if (leaderboard.length > 0 ) { %> 
                          <% leaderboard.forEach(user => { %>
                        <% user.avatars.forEach((avatar, index) => { %>
    
                          <% }) %>
              
                          <% }) %>
                          
                          <% } else { %>
                          <p>There are no players to display...</p>
                          <% } %> -->
                        LeaderBoard</h2>
                    </div>
                      
                  </div>
                  <div class="col">
                    <div class="col text-right">
                      <h4 >Creator: <%= leaderboard[0].quizCreatorName %></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div style="background: white; padding: 10px; border-radius: 0px 0px 10px 10px;">
              <table class="table ">
                <thead>
                  <tr>
                    <th scope="col" style="padding-left:18px">Place</th>
                    <th scope="col" class="text">User</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                  <% if (leaderboard.length > 0) { %> 
                    <% leaderboard.forEach(user => { %>
                  <% user.avatars.forEach((avatar, index) => { %>
                    <tr>
                    <th scope="" class="" style="padding:18px; width:100px">
                      <div style="
    
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    background: #8e54e9;
    left: auto;
    margin: auto;
    position: absolute;
                    " >
                    <%= index + 1 %>
                    </div>
                    </td>
                    <td><h4><img src="<%= avatar.avatar %>" alt="<%= user.username %>" width="60" /> <%= user.username %></h4></td>
                    <td><h4 style="padding:14px"><%= user.score %></h4></td>
                    </tr>
                  <% }) %>
            
                  <% }) %>
                  
                  <% } else { %>
                  <p>There are no players to display...</p>
                  <% } %>
                        <!-- <tr>
                        <th scope="row"> </th>
                        <td> </td>
                        <td>Name</td>
                        
                        <td>Test</td>
                      </tr> -->
                      
                    
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <!-- <% if (leaderboard.length > 0) { %> 
        <% leaderboard.forEach(user => { %>
      <%= user.quizId %> <% user.avatars.forEach(avatar => { %>
      <img src="<%= avatar.avatar %>" alt="<%= user.username %>" width="150" />
      <% }) %>
      <h3 class="title"><%= user.username %></h3>
      <p class="score"><%= user.score %></p>

      <% }) %> <% } else { %>
      <p>There are no quizzes to display...</p>
      <% } %> -->
    </div>
  </section>
  <!-- <select onchange="displayDivDemo('hideValuesOnSelect', this)">
    <option value="0">Java</option>
    <option value="1">Javascript</option>
  </select>
  <div id="hideValuesOnSelect">This is the Javascript</div> -->

  <!-- <script>
    function displayDivDemo(id, elementValue) {
      document.getElementById(id).style.display =
        elementValue.value == 1 ? "none" : "value";
    }
  </script> -->

  <%- include('./partials/footer.ejs') %>
</body>
